- field.value.each do |s|
  %h2= s.specification_type.name
  %table{:class=>"table table-condensend table-striped"}
    %thead
      %tr
        %th= s.specification_type.name
        %th= s.car.modelName
        - s.comparatives.order("comparatives.id ASC").each do |c|
          %th= c.compared_car.modelName
    %tbody
      - s.features.order("features.sequence ASC").each do |f|
        %tr
          %td{:style => "color: #{f.highlighted? ?  'blue' : 'black'}"}= RedCloth.new(f.to_s).to_html.html_safe
          %td= f.descr
          - f.compared_features.order("comparedfeatures.comparative_id ASC").each do |cf|
            %td= cf.descr

